<ion-content>
  <ion-card class="divGeneral">

    <ion-card-content>
      <img
        src="./assets/icon/Flecha.png"
        class="imgFlecha"
        (click)="cerrarSinData()"
      />
      <div class="divCentro">
        <div style="width: 100%; text-align: start">

          <h1

            style="
              color: rgba(74, 74, 74, 1);
              margin-bottom: 20px;
              font-weight: bold;
            "
          >
           Actualizar Empleado
          </h1>



        </div>

        <div class="div-form">
          <form autocomplete="off" [formGroup]="empleadoForm">
            <ion-row style="margin-bottom: 1%">
              <ion-col size="12">

                <div class="dv-respon" style="width: 87%;">
                  <ion-list style="margin-bottom: -6px">
                    <ion-label style="left: 2em" class="placeholderLbl2"
                      >Nombre</ion-label
                    >
                    <ion-input

                      class="roundedInput"
                      maxlength="250"

                      required
                      formControlName="nombre"
                    >
                    </ion-input>
                  </ion-list>
                  <div class="validation-error">
                    <ng-container
                      *ngFor="let validation of validationMessages.nombre"
                    >
                      <div
                        *ngIf="empleadoForm.get('nombre').hasError(validation.type) &&
                        (empleadoForm.get('nombre').dirty ||
                        empleadoForm.get('nombre').touched)"
                      >
                        {{validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ion-col>

            </ion-row>
            <ion-row style="margin-bottom: 1%">
              <ion-col size="12">

                <div class="dv-respon" style="width: 87%;">
                  <ion-list style="margin-bottom: -6px">
                    <ion-label style="left: 2em" class="placeholderLbl2"
                      >Apellido</ion-label
                    >
                    <ion-input

                      class="roundedInput"
                      maxlength="250"

                      required
                      formControlName="apellido"
                    >
                    </ion-input>
                  </ion-list>
                  <div class="validation-error">
                    <ng-container
                      *ngFor="let validation of validationMessages.apellido"
                    >
                      <div
                        *ngIf="empleadoForm.get('apellido').hasError(validation.type) &&
                        (empleadoForm.get('apellido').dirty ||
                        empleadoForm.get('apellido').touched)"
                      >
                        {{validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 1%">
              <ion-col size="12">

                <div class="dv-respon" style="width: 87%;">
                  <ion-list style="margin-bottom: -6px">
                    <ion-label style="left: 2em" class="placeholderLbl2"
                      >Puesto</ion-label
                    >
                    <ion-input

                      class="roundedInput"
                      maxlength="250"
                     readonly="true"
                      required
                      formControlName="puesto"
                    >
                    </ion-input>
                  </ion-list>

                </div>
              </ion-col>
            </ion-row>

            <ion-row
              class="seccion-opciones"
              style="margin-bottom: 1%; width: 97%"
            >

            </ion-row>

            <ion-row>
              <ion-col class="inputEnviar">
                <ion-button  color="tertiary" [disabled]="!empleadoForm.valid" (click)="comfirmarAlert(empleadoForm.value)"   >Generar</ion-button>

              </ion-col>
            </ion-row>

          </form>
        </div>


      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
