/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '../node_modules/font-awesome/css/font-awesome.css';

@font-face {
  font-family: "TrebuchetMS";
  font-style: normal;
  font-weight: normal;
  src: local("TrebuchetMS"), url(./assets/fonts/TrebuchetMS/trebuc.ttf) format("truetype");
}

.my-custom-class {
  --backdrop-opacity: 0.8 !important;

  --width: 100% !important;
  --height: 100% !important;
}
.alert-class {
  --backdrop-opacity: 0.8 !important;

  --width: 100% !important;
}
.actualizar-empleado {
  --backdrop-opacity: 0.8 !important;

  --width: 60% !important;
  --height: 60% !important;
}
