
<ion-content class="content-general">
  <div class="contenido">
    <div style="padding: 0 3vh;">
      <h1 style="color: rgba(74, 74, 74, 1); font-weight: bold; font-size: 20px; margin: 0 0 0.5% 0;">Generación de pólizas</h1>
    </div>
    <div class="seccion-buscador flex">
      <div class="buscar flex">
        <ion-icon name="search-outline"></ion-icon>
        <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
        <ion-input type="text" placeholder="" autocomplete="off"
          (keyup.enter)="obtenerPolizasPaginado()"
          placeholder="Presiona enter para buscar por el sku del inventario o por el nombre del empleado "
          [(ngModel)]="busqueda"
          ></ion-input>
      </div>
      <div class="flex">
        <div style="margin-right: 10px;" class="icono" matTooltip="Agregar poliza"  (click)="crearPoliza()">
          <img src="./assets/icon/agregar.svg" alt="" >
        </div>
        <div class="icono" >
          <i><img src="./assets/icon/excel.png" matTooltip="Descargar excel"  (click)="crearExcel()" alt="" ></i>
        </div>
      </div>

    </div>

    <div class="divTabla">
      <ion-card style="box-shadow:none ; background-color: white;">
        <ion-row class="cabezera">
          <ion-col size="2.5" class="classTresPuntos">
            <ion-label class="styleCabecera">ID</ion-label>
          </ion-col>
          <ion-col size="2" class="classTresPuntos">
            <ion-label class="styleCabecera">Empleado</ion-label>
          </ion-col>
          <ion-col size="2" class="classTresPuntos">
            <ion-label class="styleCabecera">SKU inventario</ion-label>
          </ion-col>
          <ion-col size="2" class="classTresPuntos">
            <ion-label class="styleCabecera">Cantidad</ion-label>
          </ion-col>
          <ion-col size="1.5" class="classTresPuntos">
            <ion-label class="styleCabecera">Fecha registro</ion-label>
          </ion-col>

          <ion-col size="2" class="classTresPuntos">
            <ion-label class="styleCabecera">Acciones</ion-label>
          </ion-col>
        </ion-row>

        <ion-content class="content-scroll" style="height:55vh;">
          <ion-row   class="cuerpo" *ngFor="let item of listadoPolizas let odd = odd"
          [style]="odd ? 'background-color: #e5e5e5' : 'background-color: #f4f4f4'" >
            <ion-col size="2.5" class="col_cuerpo">
              <ion-label class="styleCuerpo no-negrita">
               {{item.idPoliza}}
              </ion-label>
            </ion-col>
            <ion-col size="2" class="col_cuerpo">
              <ion-label class="styleCuerpo no-negrita">
                {{item.nombreEmpleado}}
              </ion-label>
            </ion-col>
            <ion-col size="2" class="col_cuerpo">
              <ion-label class="styleCuerpo no-negrita">
               {{item.sku_cod}}
              </ion-label>
            </ion-col>
            <ion-col size="2" class="col_cuerpo" style="text-align: right;">
              <ion-label class="styleCuerpo no-negrita">
               {{item.cantidad}}
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="col_cuerpo">
              <ion-label class="styleCuerpo no-negrita">
               {{obtenerFecha(item.fecha_reg)}}
              </ion-label>
            </ion-col>


            <ion-col size="2">
            <ion-row>
              <ion-col size="4"></ion-col>
              <ion-col size="3">
                <img  src="./assets/icon/pencil.png" alt="" (click)="editar(item)" matTooltip="Editar empleado"  (click)="actualizarEmpleado(item)" style="cursor:pointer" >
              </ion-col>
              <ion-col size="3">
                <img  src="./assets/icon/delete.png" matTooltip="Desactivar poliza" (click)="comfirmarAlert(item)" style="cursor:pointer">
              </ion-col>
            </ion-row>
            </ion-col>
          </ion-row>
          <!-- <ion-infinite-scroll threshold="10px"  [disabled]="infiniteDisabled"(ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando..."
            >
            </ion-infinite-scroll-content>
          </ion-infinite-scroll> -->
        </ion-content>
      </ion-card>
    </div>
    <ion-row class="paginado">
      <ion-col
        style="display: flex; justify-content: center; height: 30px; margin: 10px 0; font-size: 15px; align-items: center;">
        <button class="boton-paginado" (click)="retrocederUltimaPagina()">
          <ion-icon class="iconboton" name="play-back">
          </ion-icon>
        </button>
        <button class="boton-paginado" (click)="retrocederPagina()">
          <ion-icon class="iconboton" name="caret-back"></ion-icon>
        </button>
        <ion-label style="color: black;">Página </ion-label>

        <ion-input type="text"
          style="width: 25px; margin-right: 5px;color: black; border: 1px solid black; margin-left: 5px; display: flex; justify-content: center;    height: 20px;"
          [value]="pagina" [(ngModel)]="paginaAux" (keyup.enter)="irPagina(paginaAux)"></ion-input>
        <ion-label style="color: black;"> de {{total_paginas}}</ion-label>

        <button class="boton-paginado" (click)="adelantarPagina()">
          <ion-icon class="iconboton" name="caret-forward"></ion-icon>
        </button>
        <button class="boton-paginado" style="margin-right: 20px;" (click)="adelantarUltimaPagina()">
          <ion-icon class="iconboton" name="play-forward">
          </ion-icon>
        </button>
        <ion-button class="btn-crear" (click)="irPagina(paginaAux)">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
