.content-general {
  font-style: normal;
  font-family: 'Segoe UI', Arial;
  --background: #f1f1f1;
}

.content-scoll {
  --background: white;
}

.contenido {
  padding: 1.5%;
  width: 100%;
}

.division {
  background: #ffffff;
  border-radius: 10px;
  padding: 1vw;
  margin-top: 1vw;
}

.flex {
  display: flex;
}

.seccion-buscador {
  justify-content: space-between;
  margin-bottom: 1%;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5vw 1vw 1vw 1vw;
  .buscar {
    border-radius: 17px;
    border: 2px solid #ccc;
    background-color: white;
    height: 80%;
    width: 45%;
    align-items: center;
    padding: 0 5px;
    i, ion-icon {
      font-size: 25px;
      color: #ccc;
    }
    ion-input {
      font-size: 15px;
      color: #4a4a4a;
    }
    .icono-buscador {
      width: 6%;
      align-self: center;
      padding-left: 8px;
    }
  }
  .icono {
    width: 40px;
    height: 40px;
    img {
      cursor: pointer;
    }
  }
}
.divTabla {
  // padding: 3%;
  background-color: white;
  border-radius: 16px;
  padding-bottom: 1%;
  margin: 1.5%;
  // margin-bottom: 5%;
  i {
    margin-left: 20%;
    cursor: pointer;
    // width: 80%;

  }
  th {
    font-size: 15px;
    color: #4a4a4a;
    margin: 0;
    font-weight: bold;
  }
  td {
    font-size: 15px;
    color: #4a4a4a;
    margin: 0;
  }
}
table {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  table-layout: fixed;
}
th {
  border-bottom: 1px solid rgba(201, 201, 201, 1);
}

td {
  border-bottom: 1px solid rgba(201, 201, 201, 1);
}
.styleCabecera{
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 15.00px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Segoe UI', Arial;
  text-decoration: none
}
.styleCuerpo{
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 15.00px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Segoe UI', Arial;
  text-decoration: none
}
.classTresPuntos{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: #AC2F31;


}
.col_cuerpo{
  margin-top:10px;
 text-align: center;

}
.cuerpo {
  //border: 1px solid black;
  border-bottom: 1px solid rgba(201, 201, 201, 1);
  padding-left: 1px;
}
.no-negrita {
  font-weight: normal;
}
ion-infinite-scroll {
  background: #fff;
}

.paginado {
  float: right;
}

.boton-paginado {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
}

.iconboton {
  cursor: pointer;
  color: black;
  margin-right: 1px;
  margin-left: 1px;
  position: relative;
  top: 3px;
  color: #8C3E44;
}

.btn-crear {
  --background: #AC2F31;
  color: white;
  height: 28px;
  width: 80px;
  margin-right: 15px;
  font-size: 14px;
  position: relative;
}
