mat-sidenav-container {
    height: 100%;
    mat-sidenav {
      mat-nav-list {
        .menu-item {
          margin-left: 9px;
        }
        .mat-list-item {
          color: #bababa;
        }
      }
    }
  }
  .mat-toolbar-single-row {
    padding: 0 20px;
  }
  .dark{
    margin-left: 15px;
    border-bottom:solid 1px grey;
    width:50%;
  }
  .containerNombre {
    background: rgba(99 101 105);
    height: calc(100vh - 64px);
  }
  .imgBack {
    position: inherit;
    // display: block;
    margin-top: calc(100vh - 800px);
  }
  ion-img {
    height: 300px;
    position: fixed;
    top: 300px;
    left: 300px;
    clip: rect(00px 900px 300px 0px);
  }
  .mat-drawer {
    background-color: rgba(99 101 105);
  }
  .active {
    border-left-style: solid;
    border-left-width: 4px;
    background-color: white !important ;
    color: rgba(156 25 47) !important;
    // .menu-item ng-star-inserted{
    //   color: rgba(156 25 47)  !important;
    // }
  }
  .icon-display {
    transform: scale(1.2);
    height: 25px;
    width: 25px;

    // color: white;
  }
  ion-icon {
    font-size: 30px;
  }
  .iconsize {
    height: 25px;
    width: 25px;
  }

  ion-icon:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
