<mat-sidenav-container
  ><!-- Container principal -->

  <mat-sidenav-content
    ><!-- Container header -->


    <mat-sidenav-container autosize class="containerNombre">


      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
