<ion-content>
  <ion-card class="divGeneral">

    <ion-card-content>
      <img
        src="./assets/icon/Flecha.png"
        class="imgFlecha"
        (click)="cerrarSinData()"
      />
      <div class="divCentro">
        <div style="width: 100%; text-align: start">

          <h1

            style="
              color: rgba(74, 74, 74, 1);
              margin-bottom: 20px;
              font-weight: bold;
            "
          >
            Registrar poliza
          </h1>



        </div>

        <div class="div-form">
          <form autocomplete="off" [formGroup]="polizasForm">

            <ion-row>
              <ion-col size="12">

                <div class="dv-respon">
                  <ion-list style="margin-bottom: -6px">
                    <ion-label style="left: 2em; top:7px" class="placeholderLbl2"
                      >Empleado</ion-label
                    >
                    <div class="input divContrasenia">
                      <select  required formControlName="empleado">
                        <option value="" disabled selected hidden>Seleccione una opción</option>
                        <option [value]="item.idEmpleado" *ngFor="let item of empleadoslist;" >
                          {{item.nombre}}  {{item.apellido}} - {{item.puestoNombre}}
                        </option>
                      </select>
                    </div>
                    <div class="validation-error">
                      <ng-container *ngFor="let validation of validationMessages.empleado">
                        <div *ngIf="polizasForm.get('empleado')?.hasError(validation.type) &&
                          (polizasForm.get('empleado')?.dirty ||
                          polizasForm.get('empleado')?.touched)">
                          {{validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-list>

                </div>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="12">

                <div class="dv-respon">
                  <ion-list style="margin-bottom: -6px">
                    <ion-label style="left: 2em; top:7px" class="placeholderLbl2"
                      >Producto</ion-label
                    >
                    <div class="input divContrasenia">
                      <select  required formControlName="producto" (change)="asignarCantidad(polizasForm.value)">
                        <option value="" disabled selected hidden>Seleccione una opción</option>
                        <option [value]="item.sku_cod" *ngFor="let item of inventarioslist;" >
                          {{item.sku_cod}}  {{item.nombre}} - Cant: {{item.cantidad}}
                        </option>
                      </select>
                    </div>
                    <div class="validation-error">
                      <ng-container *ngFor="let validation of validationMessages.producto">
                        <div *ngIf="polizasForm.get('producto')?.hasError(validation.type) &&
                          (polizasForm.get('producto')?.dirty ||
                          polizasForm.get('producto')?.touched)">
                          {{validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-list>

                </div>
              </ion-col>

            </ion-row>




            <ion-row style="margin-bottom: 1%">
              <ion-col size="7">

                <div class="dv-respon" style="width: 87%;">
                  <ion-list style="margin-bottom: -6px">
                    <ion-label style="left: 2em" class="placeholderLbl2"
                      >Cantidad</ion-label
                    >
                    <ion-input

                      class="roundedInput"
                      maxlength="20"
                      (keypress)="soloNumeros($event)"
                      required
                      formControlName="cantidad"
                    >
                    </ion-input>
                  </ion-list>
                  <div class="validation-error">
                    <ng-container
                      *ngFor="let validation of validationMessages.cantidad"
                    >
                      <div
                        *ngIf="polizasForm.get('cantidad').hasError(validation.type) &&
                        (polizasForm.get('cantidad').dirty ||
                        polizasForm.get('cantidad').touched)"
                      >
                        {{validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ion-col>
            </ion-row>


            <ion-row
              class="seccion-opciones"
              style="margin-bottom: 1%; width: 97%"
            >

            </ion-row>

            <ion-row>
              <ion-col class="inputEnviar">
                <ion-button  color="tertiary" [disabled]="!polizasForm.valid" (click)="comfirmarAlert(polizasForm.value)"   >Generar</ion-button>

              </ion-col>
            </ion-row>

          </form>
        </div>


      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
