ion-content {
  --ion-background-color: rgba(242, 242, 242, 1);
}
.buscar {
  border-radius: 17px;
  border: 2px solid #ccc;
  background-color: white;
  height: 80%;
  width: 45%;
  align-items: center;
  padding: 0 5px;
  i {
    font-size: 20px;
    color: #af3437;
  }
  ion-input {
    font-size: 15px;
    color: #4a4a4a;
  }
  .icono-buscador {
    width: 6%;
    align-self: center;
    padding-left: 8px;
  }
}
.flex {
  display: flex;
}

.imgFlecha {
  width: 3%;
  margin-top: 2%;
  margin-left: 2%;
  cursor: pointer;
}
.divGeneral {
  background: white;
  //height: 93%;
  min-height: 100%;
  border-radius: 16px;
  //   align-items: center;

  //   margin-left: 3%;
  margin: 1.5%;
}
.input ion-input,
.input input,
.input select {
  background: transparent;
  color: black;
  border: none;
  outline: none;
  --padding-top: 7px;
  --padding-bottom: 7px;
  --padding-start: 10px !important;
  --padding-end: 10px;
  padding: 7px 10px 7px 10px;
  width: 100%;
}
.input > input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.input > input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
.input {
  --background: #f4f4f4;
  // border-radius: 8px;
  /* flex-grow: 1; */
  border: 1px solid #d1d1d1;
  width: 100%;
  display: inline-flex;
  margin-right: 20px;
  height: 42px;
  // align-items: flex-end;
  vertical-align: bottom;
  margin-top: 2% !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dv-respon {
  width: 100%;
  div {
    width: 95%;
    margin: 0;
  }
  text-align: start;
  color: rgba(128, 128, 128, 1);
}
.divForm {
  display: grid;
}
.div-usuario {
  width: 95% !important;
  display: grid;
}
form {
  margin-top: 5%;
}
.divContrasenia {
  width: 95% !important;
  display: grid;
}
.divCentro {
  width: 60%;
  // position: absolute;
  top: 12%;
  left: 15%;
  text-align: center;
  margin: auto;
  //   margin: -25px 0 0 -25px;
}
.div-Foto {
  margin-top: 2%;
  img {
    float: left;
    margin-right: 40px;
  }
  aside {
    margin-top: 6%;
  }
  ion-button {
    width: 55%;
    margin-top: 7%;
    --ion-color-primary: white;
    color: #af3437;
    font-weight: bold;
    border: 2px solid #af3437;
    border-radius: 5px;
  }
  width: 60%;
  height: 50%;
  // border: 1px solid black;
  display: inline-block;
  color: rgba(74, 74, 74, 1);
}
.inputEnviar {
  --ion-color-tertiary: #af3437;
  text-align: center !important;
  ion-button {
    width: 40%;
  }
}
.seccion-opciones {
  .renglon {
    display: flex;
    width: 100%;
    div {
      padding: 3px;
    }
    div:first-child {
      width: 50%;
    }
    div:last-child {
      width: 50%;
    }
    .encabezado {
      background-color: #af3437;
      color: #fff;
    }
  }
  .lista-opciones {
    height: 200px;
    overflow: auto;
  }

}
.placeholderLbl2 {
  position: absolute;
  top: 0;
  left: 2em;
  background-color: #fff;
  z-index: 3;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0 8px;
}
ion-list{
  background: white;
}
ion-input {
  --background: white !important;
  border: solid 1px #d1d1d1 !important;
  border-radius: 2px !important;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
textarea{
  // padding-left: 1%;
  padding: 1%;
  margin-left: 1px;
  margin-right: 1px;
  // margin-right: 1%;
  width: 99.8%;
  background: white;
  border: solid 1px #d1d1d1 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline:none;
}

.placeLbl{
  font-weight: bold;
  font-size: 0.9em;
  padding: 4px 8px;
  background-color: #fff;
  color: black;

}
.roundedInput{
  text-align: right;
}
